# Virtual Environment
.venv/
venv/
env/
ENV/
.env
backup/
.vscode/
# Database files
market_data.*
*.db*

# Python
__pycache__/
images/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.alled.cfg
*.egg

# Local files
dialect.py

# Streamlit secrets
.streamlit/
# Streamlit secrets
.streamlit/secrets.toml
*.log
experimental.py
dd.py
*.xlsx
*.sh
*.ps1
notes.txt
logs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
misc_files/
fit_summary_df.csv
fit_summary.csv
data/
nakah_hfi.json
dev_files/
proj_config.py
archive/
*.db*
todos_hurricane_fleet_issue.txt
depreciated-code/
doctrine_status_performance.md
